<!DOCTYPE html>
<html lang="en">
<head>
    <title>OneSchool &mdash; Website by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="~/theme/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/theme/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/theme/css/jquery-ui.css">
    <link rel="stylesheet" href="~/theme/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/theme/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/theme/css/owl.theme.default.min.css">
                                 
    <link rel="stylesheet" href="~/theme/css/jquery.fancybox.min.css">
                                 
    <link rel="stylesheet" href="~/theme/css/bootstrap-datepicker.css">
                                 
    <link rel="stylesheet" href="~/theme/fonts/flaticon/font/flaticon.css">
                                 
    <link rel="stylesheet" href="~/theme/css/aos.css">
                                 
    <link rel="stylesheet" href="~/theme/css/style.css">

</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  

    <script src="~/theme/js/jquery-3.3.1.min.js"></script>
    <script src="~/theme/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/theme/js/jquery-ui.js"></script>
    <script src="~/theme/js/popper.min.js"></script>
    <script src="~/theme/js/bootstrap.min.js"></script>
    <script src="~/theme/js/owl.carousel.min.js"></script>
    <script src="~/theme/js/jquery.stellar.min.js"></script>
    <script src="~/theme/js/jquery.countdown.min.js"></script>
    <script src="~/theme/js/bootstrap-datepicker.min.js"></script>
    <script src="~/theme/js/jquery.easing.1.3.js"></script>
    <script src="~/theme/js/aos.js"></script>
    <script src="~/theme/js/jquery.fancybox.min.js"></script>
    <script src="~/theme/js/jquery.sticky.js"></script>


    <script src="~/theme/js/main.js"></script>

    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>


        <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <div class="site-logo mr-auto w-25"><a href="Home.aspx"><b>Transformer </b></a></div>

                    <div class="mx-auto text-center">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                                <li><a href="New_Test.aspx" class="nav-link">Add New Test</a></li>
                                <li><a href="#" class="nav-link">Profile</a></li>


                                <li><a href="Login.aspx" class="nav-link">Logout</a></li>
                            </ul>
                        </nav>
                    </div>


                </div>
            </div>

        </header>

        <div class="intro-section" id="home-section">

            <div class="slide-1" style="background-image: url('theme/images/hero_1.jpg');" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row align-items-center">

                    </div>
                </div>
            </div>
        </div>





    </div>

    <div class="container body-content">
        @RenderBody()
       
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>